<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900">
{% include 'sidebar.html' %}

<div class="p-4 sm:ml-64 bg-gray-50 dark:bg-gray-900">
{% for error in get_flashed_messages(category_filter='error') %}
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="font-medium">Error!</span> {{ error }}.
    </div>
{% endfor %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>